body {
  background-image: linear-gradient(
    to right,
    rgb(51, 51, 184),
    rgb(163, 164, 201)
  );
}
#main {
  box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7);
  color: #19202c;
  margin-top: 2em;
  border-radius: 10px;
  background: white;
}

#left {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background: white !important;
}

#left ul li {
  margin-top: 30px;
  list-style: none;
  color: #04020a;
  font-size: 20px;
  /* opacity: 0.6; */
}
#left ul {
  margin-top: 70px;
}
#left ul li {
  margin-top: 12px;
}
#left ul li span {
  position: absolute;
  margin-left: 25px;
  margin-top: -1px;
}
#right {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: white !important;
}

#img {
  height: 400px;
  width: 450px;
  margin-top: 35px;
  margin-left: 10px;
  margin-bottom: 5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 0 20px 0 rgba(216, 225, 233, 0.7);
}
#upper {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 80px;
  margin-top: 50px;
}
#upper h3 {
  font-weight: 900;
  font-size: 35px;
}

#middle {
  margin-left: 80px;
  margin-top: 25px;
}
#middle p {
  margin-bottom: 0.3px;
  font-weight: 700;
}
#middle ul {
  list-style: none;
  text-decoration: none;
  padding: 10px;
  margin-top: -10px;
  font-size: 20px;
}
#middle ul a:hover {
  list-style: none;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
}
#middle ul a {
  color: black;
}
#icons {
  margin-top: -15px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 3px;
  font-size: 30px;
  color: #e8e8e8;
  opacity: 0.6;
}
#icons:hover {
  opacity: 0.8;
  color: #2434e6;
}
.form {
  margin-left: 80px;
  margin-top: 10px;
  height: 40%;
  width: 70%;
}
.form p {
  margin-bottom: 4px;
  font-weight: bold;
}
.form button {
  margin-top: 15px;
  margin-bottom: 10px;
}
